body {
  background-color: rgb(65, 65, 65);}
.card {
  margin-top: 50px;
  background-color: rgb(160, 157, 157, 0.768);
  border: 3px solid rgb(0, 0, 0);
}
.card:hover {
  background-color: rgba(160, 157, 157);
}
.card-title {
  text-align: center;
}
.számolás {
  float: right;
  margin-top: 15px;
}
.törlés {
  margin-top: 15px;
  margin-bottom: 15px;
}
.input [type="number"] {
  margin-right: 50px;
  background-color: rgb(204, 204, 204);
}
.adat {
  background-color: rgb(204, 204, 204);
  border: 1px solid black;
}
h1 {
  margin-top: 35px;
  text-align: center;
}
h5 {
  color: rgba(160, 157, 157);
  margin-left: 50px;
  margin-top: 25px;
}
select {
  width: 20%;
}
.eredmény {
  width: 75%;
  border-radius: 4px;
}
.plusz_hely {
  margin-right: 5px;
}
.plusz_hely_r {
  margin-right: 7px;
}
